/* hoja de estilo para elementos genericos a traves de diferentes paginas, secciones
* - titulos
* - canvas, lienzos
* - etc
*/

:root {
    --home-bg-primary: #fff;
    --app-padding-left-tablet: 24px;
    --app-padding-right-tablet: 24px;
}



/*  mobile first    */
.main-container {
    background: var(--home-bg-primary);
    border-top-left-radius: var(--app-border-radius);
    border-top-right-radius: var(--app-border-radius);
    position: relative;            /* para controlar el stacking */
    z-index: 2;                    /* queda por encima */
    margin-top: calc(-1 * var(--app-border-radius)); /* solapa sobre el componente superior */
    padding-left: var(--app-padding-left-mobile);
    padding-right: var(--app-padding-right-mobile);
    padding-top: 40px;
    padding-bottom: 40px;
}

.page-section {
    margin-bottom: 32px;
}

.page-heading {
    text-align: center; /*  texto alineado al centro */
    font-family: var(--font-family);
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 8px 0;
}

.page-heading-xl {
    font-family: var(--title-font);
    font-size: 48px;

}

.page-heading-grip {
    width: 48px;
    height: 4px;
    border-radius: 999px;
    background: var(--text-primary-color);
    margin: 0px auto 12px auto;  /* centrado */
}



/*  tablet   */
@media (min-width: 768px) and (max-width: 1199px) {
    
    .main-container {
        padding-left: var(--app-padding-left-tablet);
        padding-right: var(--app-padding-right-tablet);
        padding-top: 50px;
        padding-bottom: 52px;
    }

    .page-heading {
        font-size: 36px;
    }

    .page-heading-grip {
        height: 5px;
        margin-bottom: 30px;
    }
}




/*  desktop  */
@media(min-width: 1200px)  {
    .main-container {
        padding-left: var(--app-padding-left-desktop);
        padding-right: var(--app-padding-right-desktop);
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .page-heading {
        font-size: 44px;
    }

    .page-heading-grip {
        height: 5px;
        margin-bottom: 40px;
    }
}