.product-suitable-card {
	/* NOTA: background opcional futuro con mas estilos */
    padding-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.product-suitable-card-head-label {
	font-size: 0.85rem;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #6b655f;
	margin-bottom: 0.75rem;
}

/* fila */
.product-suitable-card-items {
	padding-top: 0.85rem;
    display: flex;
	flex-wrap: wrap;
	gap: 32px;
    justify-content: left;
}

.product-suitable-card-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}

.product-suitable-card-icon {
	width: 56px;
	height: 56px;
	object-fit: contain;
}

.product-suitable-card-label {
	margin: 0;
	font-size: 0.95rem;
	color: #2c2f30;
	font-weight: 500;
}



